#form--login {
    display: flex;
    flex-direction:column;
    margin: 40px 30px;
    border: none;
}

    #form--login > input, button, a {
        padding: 5px;
        margin: 5px;
    }

        #form--login > input[type="submit"], button {
            border: none;
        }

        #form--login > input[type="submit"] {
            background-color: yellow;
        }

        #form--login > input[type~=password], input[type="text"] {
            border: none;
            border-bottom: 1px solid rgb(219, 219, 219);
        }

        #form--login > input[type~="password"] {
            margin-bottom: 20px;
        }

    #form--login > a {
        text-align: center;
        color: black;
        text-decoration: none;
    }

    #form--login > input[type~=password]:focus, input[type="text"]:focus {
        outline: none;
        border-bottom: 1px solid rgb(147, 144, 144);
    }

    #form--login > input[type~=submit]:focus, button:focus {
        background-color: rgb(232, 227, 227);
    }
.loginbutton{
    background-color:yellow;
    display:flex;
    width:100%;
    justify-content:center;
}
.loginbutton > a{
    text-decoration:none;
}